/* Header */
.my_header {
}

.my_header_top {
  height: 56px;
  background-color: #2874f0;
  padding-top: 10px;
  padding-left: 185px;
  /* display: flex;
  justify-content: space-between; */
}

.searchForm {
  width: 565px;
  height: 37px;
  background: #fff;
  float: left;
  margin-left: 12px;
  margin-right: 87px;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.searchForm input[type="text"] {
  width: 495px;
  margin-left: 16px;
  margin-top: 8px;
  border: none;
  outline: none;
  font-size: 0.9em;
}

.searchForm .fa-search {
  color: #2874f0;
  font-size: 1.2rem;
}

.my_header_top_ul a {
  color: #fff;
}

.my_header_top_ul .fa-shopping-cart {
  font-size: 1.2em;
}

.fa-chevron-down {
  font-size: 0.5em;
  position: relative;
  top: -3px;
  color: #b4cffa;
}

.my_header_top_ul > li {
  position: relative;
}

.my_subMenu {
  width: 280px;
  background: #fff;
  position: absolute;
  top: 46px;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.my_subMenu a {
  color: #282829;
  height: 54px;
}
.my_header_top_ul li {
  padding-bottom: 6px;
}
.my_header_top_ul li:hover .my_subMenu {
  display: block;
}

.my_subMenu li:hover {
  cursor: pointer;
  background: #faf9f9;
}
.my_subMenu li {
  display: flex;
  border-bottom: 1px solid #efeff0;
  padding-top: 10px;
  padding-left: 19px;
}

.my_subMenu li i {
  padding-top: 12px;
  color: #2975f1;
}

.my_header_bottom {
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #caccce;
}

.my_header_bottom a {
  color: #212121;
  font-size: 13.5px;
}

.my_header_bottom i {
  color: #cecece;
}

/* Container */
.my_container {
  width: 99%;
  height: 11406px;
  padding: 0px;
}

/* Main_1 */
.my_main_1 {
  height: 280px;
  margin-top: 8px;
}

.my_carousel_control {
  width: 46px;
  opacity: 1;
  background-color: #fff;
  height: 40%;
  margin-top: 80px;
}

#carouselExampleControls .carousel-control-prev {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#carouselExampleControls .carousel-control-next {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.my_carousel_control i {
  color: #212121;
  font-size: 1.5rem;
}

/* Main 2 */
.my_main_2 {
  margin-top: 10px;
  border-top: 1px solid #ebebeb;
  /* box-shadow: x y blur spread color; */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.my_main_2 .row {
  height: 362px;
  margin: 0px;
}

.my_main_2 .row > div {
  padding: 0px;
}

.my_10_bgWhite {
  background: #ffffff;
}

.my_10_top {
  height: 62px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5e5;
  padding: 15px;
}

.my_carousel_box {
  width: 100%;
  height: 301px;
  border: 1px solid red;
}

.my_carousel_box .row .col {
  border: 1px solid green;
}

/* Main 3 */

.my_main_3 {
  margin-top: 20px;
  height: 238px;
  border: 1px dashed red;
}

.my_main_4 {
  margin-top: 11px;
  height: 352px;
  background-color: #fff;
}

.my_main_5 {
  height: 237px;
  border: 1px solid purple;
  margin-top: 10px;
}

.my_main_6 {
  height: 377px;
  border: 1px solid red;
  border-top: 1px solid #e2e2e2;
  margin-top: 10px;
}

/* Footer */
.my_footer {
  height: 332px;
  background-color: #172337;
}
